


<button class="collapsible" (click)="showSuiteTableContainer()">Suites</button>
<div *ngIf="showSuiteTable==true">
<button class="collapsible" (click)="showSuiteSearchContainer()">Suite Search</button>

<div *ngIf="showSuiteSearch==true">
<div class="row p-2">
    <div class="col-sm">
        <input type="text" id="suiteName" placeholder="Search Suite ID/Suite Name/URL" class="form-control">
    </div>
</div>
<div class="row p-2">

    <div class="col-sm">
        <label class="label">Suite Status</label>
        <ng-multiselect-dropdown [placeholder]="'Select Suite Status'" [settings]="searchDropdownSettings"
            [data]="suiteStatusList" [(ngModel)]="suiteStatusSelected">
        </ng-multiselect-dropdown>

    </div>

    <div class="col-sm">
        <label class="label">Created Date From</label>
        <input type="date" id="testDataCreatedFromDate" class="form-select" [(ngModel)]="suiteCreatedDateFrom">
    </div>

    <div class="col-sm">
        <label class="label">Created Date To</label>
        <input type="date" id="testDataCreatedToDate" placeholder="Suite Created Date To" class="form-select"
            [(ngModel)]="suiteCreatedDateTo">

    </div>
</div>
<div class="row mt-3 mb-3">
    <div class="d-flex justify-content-center">
        <div class="px-2">
            <button type="button" class="primary-btn" (click)="fetchSuiteExecutionDetails()">Search</button>
        </div>
        <div class="px-2">
            <button type="button" class="secondary-btn" (click)="clearSuiteSearch()">Clear</button>
        </div>
    </div>
</div>
</div>


<div class="suite-exec-table table-responsive scrollable-div mt-2">
    <table class="table table-borderless table-hover">
        <thead class="table-header">
            <th class="table-header-cols"> SUITE ID</th>
            <th class="table-header-cols"> ACTION</th>
            <th class="table-header-cols"> SUITE NAME</th>
            <th class="table-header-cols"> SUITE DESCRIPTION</th>
            <th class="table-header-cols"> SUITE STATUS</th>
            <th class="table-header-cols"> URL</th>
            <th class="table-header-cols"> BROWSER</th>
            <th class="table-header-cols"> CREATED BY</th>
            <th class="table-header-cols"> CREATED DATE</th>
        </thead>
        <tbody class="table-body">

            <tr #currentRow class="table-active" *ngFor="let suite of testSuiteExecutionHistory; let i = index">

                <td>
                    <ng-container *ngIf="suite.suiteStatus === 'Added'">
                        <button class="queued" (click)="getTestSCriptsExecutionHistory(suite.suiteId)">{{suite.suiteId}}
                        </button>
                    </ng-container>
                    <ng-container *ngIf="suite.suiteStatus === 'Queued'">
                        <button class="queued" (click)="getTestSCriptsExecutionHistory(suite.suiteId)">{{suite.suiteId}}
                        </button>
                    </ng-container>
                    <ng-container *ngIf="suite.suiteStatus === 'In-progress'">
                        <button class="inprogress"
                            (click)="getTestSCriptsExecutionHistory(suite.suiteId)">{{suite.suiteId}} </button>
                    </ng-container>
                    <ng-container *ngIf="suite.suiteStatus === 'Completed'">
                        <button class="completed"
                            (click)="getTestSCriptsExecutionHistory(suite.suiteId)">{{suite.suiteId}} </button>
                    </ng-container>
                    <ng-container *ngIf="suite.suiteStatus === 'Error'">
                        <button class="error" (click)="getTestSCriptsExecutionHistory(suite.suiteId)">{{suite.suiteId}}
                        </button>
                    </ng-container>
                    <ng-container *ngIf="suite.suiteStatus === 'Canceled'">
                        <button class="error" (click)="getTestSCriptsExecutionHistory(suite.suiteId)">{{suite.suiteId}}
                        </button>
                    </ng-container>
                </td>
                <td>
                    <ng-container *ngIf="suite.suiteStatus === 'Added'">
                        <button class="queued" (click)="executeSuite(suite.suiteId)">Execute</button>
                    </ng-container>
                    <ng-container *ngIf="suite.suiteStatus === 'Queued'">
                        <button class="queued" (click)="getTestSCriptsExecutionHistory(suite.suiteId)"
                            disabled>Execute</button>
                    </ng-container>
                    <ng-container *ngIf="suite.suiteStatus === 'In-progress'">
                        <button class="inprogress"
                            (click)="cancelSuiteExecution(suite.suiteId)">Cancel</button>
                    </ng-container>
                    <ng-container *ngIf="suite.suiteStatus === 'Completed'">
                        <button class="completed"
                            (click)="getTestSCriptsExecutionHistory(suite.suiteId)">View</button>
                    </ng-container>
                    <ng-container *ngIf="suite.suiteStatus === 'Error'">
                        <button class="error" (click)="getTestSCriptsExecutionHistory(suite.suiteId)">Re-run</button>
                    </ng-container>
                    <ng-container *ngIf="suite.suiteStatus === 'Canceled'">
                        <button class="error" (click)="getTestSCriptsExecutionHistory(suite.suiteId)">Execute
                        </button>
                    </ng-container>
                </td>

                <td>
                    {{suite.suiteName}}
                </td>

                <td>
                    {{suite.suiteDescription}}
                </td>

                <td>
                    {{suite.suiteStatus}}
                </td>

                <td>
                    {{suite.url}}
                </td>

                <td>
                    {{suite.browser}}
                </td>

                <td>
                    {{suite.createdBy}}
                </td>

                <td>
                    {{suite.createdDate}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>