.top-container {
    background-color: var(--primary-bg-color);
    display: block;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.select-customized
{
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    outline: none;
    border: 0px solid transparent;
    border-color: transparent;
    font-weight: 500;
}



.nav-bar {
    background-color: var(--primary-bg-color);
    border-top: 2px solid var(--secondary-bg-color);;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    flex-wrap: wrap;
}

.nav-bar a {
    font-size: var(--menu-font-size);
    font-family: var(--menu-font);
    color: var( --menu-text-color);
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    padding: 5px 5px;
}

.nav-bar a:hover {
  
    color: rgb(204, 46, 46);
}

.menu-list{
    height: 100%;
}

.menu-list>li
{
    display: inline-block;
    height: 100%;
    padding: 0px 10px;
}

@media screen and (max-width: 600px) {
    .sub-menu{
        display: none;
    } 

    .my-profile
    {
        display: none;
    }

    .humburger-menu{
        position: relative;
        z-index: 1;
        
    } 

    .humburger-list>ul{
    list-style: none;
    }

    .humburger-list>ul>li
    {
        padding: 10px 0px;
    }

    .humburger-list
    {
        position: absolute;
        background-color: var(--primary-bg-color);
       
        width: 600px;
        left: -30px;
        list-style: none;
        border-top: 2px solid #ddd;
    }

    .humburger-list-link
    {
        font-size: var(--menu-font-size);
    font-family: var(--menu-font);
    color: var( --menu-text-color);
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    padding: 5px 10px;
    }
}

@media screen and (min-width: 600px) {
    .humburger-menu{
        display: none;
       
    } 
}



.header-title {
    font-size: var(--title-font-size);
    font-family: var(--title-font);
    color: var(--title-color);
    text-decoration: none;
    font-weight: bolder;
}

.my-profile {
    font-size: var(--title-font-size);
    font-family: var(--title-font);
    color: var(--title-color);
    text-decoration: none;
    font-weight: bolder;
}

.highlight-selected-Link {
    background-color: #ddd;
    color: black;
    text-shadow: 1px 3px 5px rgba(253, 252, 252, 0.63);
}