<div class="d-flex top-container">

    <div class="humburger-menu" (click)="toggleSideBar()">
        <span style="font-size: 35px; color: aliceblue;"><i class="bi bi-list"> </i></span>

        <div class="humburger-list" *ngIf="showSideBar">
            <ul>
                <li>
                    <a class="humburger-list-link" routerLink="/test-scripts" routerLinkActive="active"
                        (click)="fetchTestScriptsDropdownValues()">TEST
                        SCRIPTS</a>
                </li>
                <li>
                    <a class="humburger-list-link" routerLink="/test-data" routerLinkActive="active">TEST DATA</a>

                </li>
                <li>
                    <a class="humburger-list-link" routerLink="/test-execution-summary"
                        routerLinkActive="active">EXECUTION
                        SUMMARY</a>
                </li>
                <li>
                    <a class="humburger-list-link" routerLink="/test-reports" routerLinkActive="active">REPORTS</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="me-auto m-2 p-1">
        <a class="header-title">AUTOMATION TEST RUNNER</a>
    </div>
    <div class="ms-auto my-profile" ngbDropdown>
        <a role="button" class="my-profile" ngbDropdownToggle> MY PROFILE</a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Log out</a>
        </div>
    </div>
</div>

<div class="sub-menu nav-bar">

    <ul class="menu-list">
        <li>
            <select class="select-customized" (change)="changeApplication($event)">
                <!-- <option>SELECT APPLICATION</option> -->
                <option *ngFor="let application of getApplicationList()">
                    {{application.applicationName}}
                </option>
        
            </select>
        </li>
        <li>
            <a class="menu-links" routerLink="/test-scripts" routerLinkActive="active"
                (click)="fetchTestScriptsDropdownValues()">TEST
                SCRIPTS</a>
        </li>
        <li>
            <a class="menu-links" routerLink="/test-data" routerLinkActive="active">TEST DATA</a>
        </li>
        <li>

            <a class="menu-links" routerLink="/test-execution-summary" routerLinkActive="active">EXECUTION SUMMARY</a>
        </li>
        <li>

            <a class="menu-links" routerLink="/test-reports" routerLinkActive="active">REPORTS</a>

        </li>
        <!-- 
    <a routerLink="/test-execution-summary" routerLinkActive="active" (click)="navigateToFeature('test-execution-summary')" [ngClass]="highlight('test-execution-summary')">EXECUTION SUMMARY</a>
    <a routerLink="/test-data" routerLinkActive="active" (click)="navigateToFeature('test-data')" [ngClass]="highlight('test-data')">TEST DATA</a>
    <a routerLink="/test-scripts" routerLinkActive="active" (click)="navigateToFeature('test-scripts')" [ngClass]="highlight('test-scripts')">TEST SCRIPTS</a> -->

    </ul>
</div>