<div class="container-xxl mw-100">
    <button class="collapsible my-2" (click)="showSeachContainer()">Search Criteria</button>
    <div class="container-xxl mw-100" *ngIf="showSearch">
        <div class="row p-2">
            <div class="col-sm">
                <label>Test Data ID</label>
                <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="searchDropdownSettings" [data]="testDataIdDropdownList" [(ngModel)]="testDataIdSelectedList" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>



            <div class="col-sm">
                <label>Test Category</label>
                <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="searchDropdownSettings" [data]="testDataCategoryDropdownList" [(ngModel)]="testDataCategorySelectedList" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>

            <div class="col-sm">
                <label>JIRA Story</label>
                <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="searchDropdownSettings" [data]="jiraStoryDropdownList" [(ngModel)]="jiraStorySelectedList" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>


            <div class="col-sm">
                <label>Run Flag</label>
                <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="searchDropdownSettings" [data]="testRunFlagDropdownList" [(ngModel)]="testRunFlagSelectedList" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>

        </div>
        <div class="row p-2">
            <div class="col-md">
                <label>Test Scripts</label>
                <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="searchDropdownSettings" [data]="testScriptDropdownList" [(ngModel)]="testScriptSelectedList" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>

            <div class="col-md">
                <label>Test Short Description</label>
                <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="searchDropdownSettings" [data]="testDataShortDescriptionDropdownList" [(ngModel)]="testDataShortDescriptionSelectedList" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-sm">
                <label>Created By</label>
                <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="searchDropdownSettings" [data]="testDataCreatedByDropdownList" [(ngModel)]="testDataCreatedBySelectedList" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>

            <div class="col-sm">
                <label>Updated By</label>
                <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="searchDropdownSettings" [data]="testDataUpdatedByDropdownList" [(ngModel)]="testDataUpdatedBySelectedList" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>

        </div>

        <div class="row p-2">

            <div class="d-flex justify-content-center">
                <div class="p-2">
                    <button type="button" class="btn btn-primary" (click)="fetchTestData()">Search</button>
                </div>
                <div class="p-2">
                    <button type="button" class="btn btn-secondary" (click)="clearSearch()">Clear</button>
                </div>
            </div>

        </div>
    </div>
</div>
<app-my-test-data-results [listOfTestDataReceived]="listOfTestData" [dataCollectionSize]="listOfTestData.length">
</app-my-test-data-results>