<!-- 
    <button class="collapsible" (click)="showSeachContainer()">Search Criteria</button>
    *ngIf="showSearch" -->
    
    <div class="collapsible" (click)="showTestDataExecTableContainer()">
        Test Data Execution
        <i class="bi bi-caret-down-fill" *ngIf="showTestDataExecTable"></i>
        <i class="bi bi-caret-up-fill" *ngIf="showTestDataExecTable==false"></i>
    </div>
    <div class="container">
        <div class="row p-2">
            <div class="col-sm">
                <label class="label">Test Data Execution ID</label>
                <input type="text" id="testDataExecutionId" placeholder="" [(ngModel)]="testDataExecutionId" class="form-control">
            </div>

            <div class="col-sm">
                <label class="label">Suite ID</label>
                <input type="text" id="suiteId" placeholder="" [(ngModel)]="suiteId" class="form-control">
            </div>

            <div class="col-sm">
                <label class="label">Test Script Execution ID</label>
                <input type="text" id="testScriptExecutionId" placeholder="" [(ngModel)]="testScriptExecutionId" class="form-control">
            </div>

            <div class="col-sm">
                <label class="label">Test Data Meta ID</label>
                <input type="text" id="testExecutionId" placeholder="" [(ngModel)]="testDataMetaId" class="form-control">
            </div>
            
        </div>
        <div class="row p-2">
            <div class="col-sm">
                <label class="label">Test Script</label>
                <input type="text" id="testScript" placeholder="" [(ngModel)]="testScript" class="form-control">

            </div>

            <div class="col-sm">
                <label class="label">Test Short Description</label>
                <input type="text" id="testShortDescription" placeholder="" [(ngModel)]="testShortDescription" class="form-control">
            </div>

        </div>
        <div class="row p-2">

            <div class="col-sm">
                <label class="label">JIRA Story</label>
                <input type="text" id="jiraStory" placeholder="" [(ngModel)]="jiraStory" class="form-control">
            </div>

            <div class="col-sm">
                <label class="label">Test Status</label>
                <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="searchDropdownSettings" [data]="testDataStatusDropdownList" [(ngModel)]="testDataStatusSelectedList" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>

            <div class="col-sm">
                <label class="label">Test Category</label>
                <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="searchDropdownSettings" [data]="testDataCategoryDropdownList" [(ngModel)]="testDataCategorySelectedList" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>


            <div class="col-sm">
                <label class="label">Test Executed By</label>
                <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="searchDropdownSettings" [data]="testDataExecutedByDropdownList" [(ngModel)]="testDataExecutedBySelectedList" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>
        </div>

        <div class="row p-2">
            <div class="col-sm">
                <label class="label">Created Date From</label>
                <input type="date" id="testDataCreatedFromDate" class="form-select" 
                [(ngModel)]="testDataMetaExecCreatedDateFrom">
            </div>
        
            <div class="col-sm">
                <label class="label">Created Date To</label>
                <input type="date" id="testDataCreatedToDate" class="form-select"
                [(ngModel)]="testDataMetaExecCreatedDateTo">
        
            </div>
        </div>

        <div class="d-flex justify-content-center">

            <div class="p-2">
                <button type="button" class="primary-btn" (click)="fetchTestExecutionResults()">Search</button>
            </div>
            <div class="p-2">
                <button type="button" class="secondary-btn" (click)="clearSearch()">Clear</button>
            </div>

        </div>
    </div>



    <div *ngIf="showTestDataExecTable">
    <app-my-test-execution-search></app-my-test-execution-search>
    <div class="container-xxl mw-100">
        <div class="d-flex justify-content-center">

            <!-- <div class="my-2 px-1">
                <ngb-pagination [collectionSize]="dataCollectionSize" [(page)]="page" [pageSize]="pageSize"
                    [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="pageChange()">
                </ngb-pagination>
            </div> -->

            <div ngbDropdown class="my-2 px-1">
                <button ngbDropdownToggle type="button" class="btn btn-primary">
                </button>
                <div ngbDropdownMenu>
                    <a ngbDropdownItem class="export-dropdown-btn"> All Data </a>
                    <a ngbDropdownItem class="export-dropdown-btn"> Selected Data </a>
                </div>
            </div>

            <div ngbDropdown class="my-2 px-1" [autoClose]="false">
                <button ngbDropdownToggle type="button" class="btn btn-primary">
                    
                </button>

                <!-- <div ngbDropdownMenu>
                    <input class="search-txtbox" type="text " placeholder="Search "
                        (input)="searchColumnsInDropdown($event)">
                    <div ngbDropdownItem class="dropdown-item" *ngFor="let column of filteredColumnsDropdownList ">

                        <input class="columns-dropdown-checkbox" type="checkbox"
                            [checked]="columnsSelectedList.includes(column)"
                            (change)="updateColumnsVisible($event, column)">
                        <label class="columns-dropdown-label">{{column}}</label>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="table-responsive ">

        <table class="table table-borderless table-hover">

            <thead class="table-header">
                    <th class="table-header-cols"> <input type="checkbox"> </th>
                    <th class="table-header-cols"> ACTIONS </th>
                    <th class="table-header-cols">TEST DATA EXECUTION ID</th>
                    <th class="table-header-cols">SUITE ID</th>
                    <th class="table-header-cols">TEST SCRIPT EXECUTION ID</th>
                    <th class="table-header-cols">TEST DATA META ID</th>
                    <th class="table-header-cols">TEST CASE ID</th>
                    <th class="table-header-cols">TEST SCRIPT NAME</th>
                    <th class="table-header-cols">RUN FLAG</th>
                    <th class="table-header-cols">TEST SCENARIO</th>
                    <th class="table-header-cols">TEST PRIORITY</th>
                    <th class="table-header-cols">TEST CASE CATEGORY</th>
                    <th class="table-header-cols">JIRA ID</th>
                    <th class="table-header-cols">AUTOMATED TEST STATUS</th>
                    <th class="table-header-cols">MANUAL TEST STATUS</th>
                    <th class="table-header-cols">TEST FAIL REASON</th>
                    <th class="table-header-cols">TEST INFORMATION</th>
                    <th class="table-header-cols">TEST COMMENTS</th>
                    <th class="table-header-cols">TEST IGNORED</th>
                    <th class="table-header-cols">EXECUTION STATUS</th>
                    <th class="table-header-cols">EXECUTION TIME</th>
                    <th class="table-header-cols">EXECUTED BY</th>
                    <th class="table-header-cols">EXECUTED ON</th>
                    <th class="table-header-cols">UPDATED BY</th>
                    <th class="table-header-cols">UPDATED DATE</th>                    
                <tbody>
                <tr #currentRow class="table-active" *ngFor="let testDataMetaExecutionHistory of testDataMetaExecutionHistoryList; let i = index">
                    
                    <td *ngIf="testDataMetaExecutionHistory.automatedTestStatus=='Added'" class="table-header-cols"> <input type="checkbox"> </td>
                    <td *ngIf="testDataMetaExecutionHistory.automatedTestStatus!=='Added'" class="table-header-cols"> <input type="checkbox" disabled> </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <div>
                                <i class='bi bi-pencil-square  m-2'
                                    *ngIf="currentlyInEditTestDataMetaExecutionHistory!==testDataMetaExecutionHistory"
                                    (click)="onEdit($event, testDataMetaExecutionHistory)"></i>

                                <!-- <i class='bi bi-trash3-fill m-2'
                                    *ngIf="currentlyInEditTestDataMetaExecutionHistory!=testDataMetaExecutionHistory"
                                    (click)="onDelete($event, testDataMetaExecutionHistory)"></i> -->

                                <i class='bi bi-x-circle-fill  m-2'
                                    *ngIf="currentlyInEditTestDataMetaExecutionHistory===testDataMetaExecutionHistory"
                                    (click)="onCancel($event, testDataMetaExecutionHistory)"></i>

                                <i class='bi bi-box-arrow-down  m-2'
                                    *ngIf="currentlyInEditTestDataMetaExecutionHistory===testDataMetaExecutionHistory"
                                    (click)="onUpdate($event, testDataMetaExecutionHistory)"></i>
                            </div>
                        </div>
                    </td>
                    <td>{{testDataMetaExecutionHistory.testDataExecutionId}}</td>
                    <td>{{testDataMetaExecutionHistory.suiteId}}</td>
                    <td>{{testDataMetaExecutionHistory.testScriptExecutionId}}</td>
                    <td>{{testDataMetaExecutionHistory.testDataMetaId}}</td>
                    <td>{{testDataMetaExecutionHistory.testCaseId}}</td>
                    <td>{{testDataMetaExecutionHistory.testScriptName}}</td>
                    <td>{{testDataMetaExecutionHistory.runFlag}}</td>
                    <td>{{testDataMetaExecutionHistory.testScenario}}</td>
                    <td>{{testDataMetaExecutionHistory.testPriority}}</td>
                    <td>{{testDataMetaExecutionHistory.testCaseCategory}}</td>
                    <td>{{testDataMetaExecutionHistory.jiraId}}</td>
                    <td *ngIf="currentlyInEditTestDataMetaExecutionHistory!==testDataMetaExecutionHistory">{{testDataMetaExecutionHistory.automatedTestStatus}}</td>
                    <td *ngIf="currentlyInEditTestDataMetaExecutionHistory===testDataMetaExecutionHistory"><textarea>{{testDataMetaExecutionHistory.automatedTestStatus}}</textarea></td>
                    <td *ngIf="currentlyInEditTestDataMetaExecutionHistory!==testDataMetaExecutionHistory">{{testDataMetaExecutionHistory.manualTestStatus}}</td>
                    <td *ngIf="currentlyInEditTestDataMetaExecutionHistory===testDataMetaExecutionHistory"><textarea>{{testDataMetaExecutionHistory.manualTestStatus}}</textarea></td>
                    <td *ngIf="currentlyInEditTestDataMetaExecutionHistory!==testDataMetaExecutionHistory">{{testDataMetaExecutionHistory.testFailReason}}</td>
                    <td *ngIf="currentlyInEditTestDataMetaExecutionHistory===testDataMetaExecutionHistory"><textarea>{{testDataMetaExecutionHistory.testFailReason}}</textarea></td>
                    <td *ngIf="currentlyInEditTestDataMetaExecutionHistory!==testDataMetaExecutionHistory">{{testDataMetaExecutionHistory.testInformation}}</td>
                    <td *ngIf="currentlyInEditTestDataMetaExecutionHistory===testDataMetaExecutionHistory"><textarea>{{testDataMetaExecutionHistory.testInformation}}</textarea></td>
                    <td *ngIf="currentlyInEditTestDataMetaExecutionHistory!==testDataMetaExecutionHistory">{{testDataMetaExecutionHistory.testComments}}</td>
                    <td *ngIf="currentlyInEditTestDataMetaExecutionHistory===testDataMetaExecutionHistory"><textarea>{{testDataMetaExecutionHistory.testComments}}</textarea></td>
                    <td>{{testDataMetaExecutionHistory.testIgnored}}</td>
                    <td>{{testDataMetaExecutionHistory.executionStatus}}</td>
                    <td>{{testDataMetaExecutionHistory.executionTime}}</td>
                    <td>{{testDataMetaExecutionHistory.executedBy}}</td>
                    <td> <input type="datetime" value="{{testDataMetaExecutionHistory.executedOn}}"></td>
                    <td>{{testDataMetaExecutionHistory.updatedBy}}</td>
                    <td>{{testDataMetaExecutionHistory.updatedDate}}</td>
                   
</tr>                    
              </tbody>
        </table>
    </div>
</div>