<div class="top-container" *ngIf="showHeader()">

    <div class="humburger-menu" (click)="toggleSideBar()">
        <span style="font-size: 35px; color: aliceblue;"><i class="bi bi-list"> </i></span>

        <div class="humburger-list" *ngIf="showSideBar">
            <ul>
                <li>
                    <div class="select-customized">
                        <a role="button" (click)="changeApplicationSelectedDropdownVisibility()"> 
                            {{selectApplication}}
                            <i class="bi bi-caret-down-fill" *ngIf="applicationSelectDropdownVisible"></i>
                            <i class="bi bi-caret-up-fill" *ngIf="applicationSelectDropdownVisible==false"></i>
                        </a>
                        <div class="dropdown-list-customized" *ngIf="applicationSelectDropdownVisible">
                            <ul> 
                                <li *ngFor="let application of getApplicationList()" (click)="changeApplication(application)">
                                    {{application.applicationName}}
                                </li>
                            </ul>
                        </div>
                 </div>
                </li>
                <li>
                    <a class="humburger-list-link" routerLink="/home" routerLinkActive="badge-success">DASHBOARD</a>
                </li>
                <li>
                    <a class="humburger-list-link" routerLink="/testscripts" routerLinkActive="badge-success"
                        (click)="fetchTestScriptsDropdownValues()">TEST
                        SCRIPTS</a>
                </li>
                <li>
                    <a class="humburger-list-link" routerLink="/testdata" routerLinkActive="badge-success">TEST DATA</a>

                </li>
                <li>
                    <a class="humburger-list-link" routerLink="/suite" routerLinkActive="badge-success">SUITE</a>

                </li>
                <li>
                    <a class="humburger-list-link" routerLink="/testexecutionsummary"
                        routerLinkActive="badge-success">EXECUTION
                        SUMMARY</a>
                </li>
                <!-- <li>
                    <a class="humburger-list-link" routerLink="/testreports"
                        routerLinkActive="badge-success">REPORTS</a>
                </li> -->
                <li>
                    <div class="select-customized" (click)="changeMyProfileDropdownVisiblity()">
                        {{profileName}}
                      <i class="bi bi-caret-down-fill" *ngIf="myProfileDropdownVisible"></i>
                      <i class="bi bi-caret-up-fill" *ngIf="myProfileDropdownVisible==false"></i>
                     <div class="dropdown-list-customized" *ngIf="myProfileDropdownVisible">
                         <ul>
                             <li>
                                <a routerLink="/logout"> Log Out </a> 
                             </li>
                         </ul>
                     </div>
                    </div>
                 </li>
            </ul>
        </div>
    </div>

    <div class="title-bar">

        <ul>
            <li>
                <a class="header-title">AUTOMATION TEST RUNNER</a>
            </li>
            <li class="big-screen px-5 pt-1">
                <div class="select-customized" (mouseover)="applicationSelectDropdownVisible=true" (mouseleave)="applicationSelectDropdownVisible=false" (click)="changeApplicationSelectedDropdownVisibility()">
                    <span>
                    {{selectApplication}}
                    <i class="bi bi-caret-down-fill" *ngIf="applicationSelectDropdownVisible"></i>
                    <i class="bi bi-caret-up-fill" *ngIf="applicationSelectDropdownVisible==false"></i>
                </span>
                <div class="dropdown-list-customized" *ngIf="applicationSelectDropdownVisible">
                    <ul> 
                        <li *ngFor="let application of getApplicationList()" (click)="changeApplication(application)">
                            {{application.applicationName}}
                        </li>
                    </ul>
                </div>
                 </div>
            </li>
            <li class="big-screen my-profile">
               <div class="select-customized" (mouseover)="myProfileDropdownVisible=true" (mouseleave)="myProfileDropdownVisible=false" (click)="changeMyProfileDropdownVisiblity()">
                 {{profileName}}
                 <i class="bi bi-caret-down-fill" *ngIf="myProfileDropdownVisible"></i>
                 <i class="bi bi-caret-up-fill" *ngIf="myProfileDropdownVisible==false"></i>
                <div class="dropdown-list-customized" *ngIf="myProfileDropdownVisible">
                    <ul>
                        <li>
                           <a routerLink="/logout"> Log Out </a> 
                        </li>
                    </ul>
                </div>
               </div>
            </li>
        </ul>

        
           
        
    </div>
   
</div>

<div class="sub-menu nav-bar" *ngIf="showHeader()">

    <ul class="menu-list">
       <li class="pe-5">
             <a class="menu-links" routerLink="/home" routerLinkActive="badge-success">DASHBOARD</a>
       </li>
        <li class="pe-5">
            <a class="menu-links" routerLink="/testscripts" routerLinkActive="active"
                (click)="fetchTestScriptsDropdownValues()">TEST
                SCRIPTS</a>
        </li>
        <li class="pe-5">
            <a class="menu-links" routerLink="/test-data" routerLinkActive="active">TEST DATA</a>
        </li>
        <li class="pe-5">
            <a class="menu-links" routerLink="/suite" routerLinkActive="badge-success">SUITE</a>
        </li>
        <li class="pe-5">
            <a class="menu-links" routerLink="/test-execution-summary" routerLinkActive="active">EXECUTION SUMMARY</a>
        </li>
        <!-- <li class="pe-5">
            <a class="menu-links" routerLink="/test-reports" routerLinkActive="active">REPORTS</a>
        </li> -->
        <!-- 
    <a routerLink="/test-execution-summary" routerLinkActive="active" (click)="navigateToFeature('test-execution-summary')" [ngClass]="highlight('test-execution-summary')">EXECUTION SUMMARY</a>
    <a routerLink="/test-data" routerLinkActive="active" (click)="navigateToFeature('test-data')" [ngClass]="highlight('test-data')">TEST DATA</a>
    <a routerLink="/test-scripts" routerLinkActive="active" (click)="navigateToFeature('test-scripts')" [ngClass]="highlight('test-scripts')">TEST SCRIPTS</a> -->

    </ul>
</div>