<button class="collapsible" (click)="showBulkUpdateContainer()">Bulk Updates</button>
<div class="container">
    <div *ngIf="showBulkUpdate">
        <div class="row mt-3">

            <div class="col-sm-5">
                <label class="label py-1">Select field to update</label>
                <select class="form-select" [(ngModel)]="fieldNameToBeUpdated" aria-label="Default select example">
                    <option selected>Select</option>
                    <option *ngFor="let fieldName of fields| keyvalue" value={{fieldName.key}}>{{fieldName.value}}</option>
                </select>
            </div>

            <div class="col-sm-5">
                <label class="label py-1">Enter Value to be updated</label>
                <input type="text" class="form-control" [(ngModel)]="fieldValueToBeUpdated">
            </div>

            <div class="col-1">
                <label class="label py-1">Conditions</label>
                <button type="button" class="btn btn-success" (click)="addBulkUpdateCondition()"><i
                        class="fas fa-plus"></i></button>
            </div>
        </div>


        <div *ngFor="let conditionConnector of conditions.$conditionsConnector">

            <label class="label col-sm-1 my-1">Condition {{conditionConnector.$conditionIndex}}</label>
            <div class="row">
                <div *ngFor="let subCondition of conditionConnector.$subConditionsConnector">

                    <div class="row">
                        <div class="col-md-3 m-1">
                            <select class="form-select" aria-label="Default select example"
                                (change)="onFieldnameSelectSubCondition($event, conditionConnector.$conditionIndex, subCondition.$subConditionIndex)" 
                                [(ngModel)]="subCondition.$searchCriteria.$key">
                           
                                <option selected>Select field name</option>
                                <option *ngFor="let fieldName of fields| keyvalue" value={{fieldName.key}}>{{fieldName.value}}</option>
                            </select>
                        </div>
                        <div class="col-md-2 m-1">
                            <select class="form-select" aria-label="Default select example"
                                (change)="onOperatorSelectSubCondition($event, conditionConnector.$conditionIndex, subCondition.$subConditionIndex)"
                                [(ngModel)]=subCondition.$searchCriteria.$operator>
                                <option *ngFor="let operator of operators" value={{operator}}>{{operator}}</option>
                            </select>

                        </div>

                        <div class="col-md-3 m-1">

                            <input type="text" placeholder="Enter Value" class="form-control" 
                            [(ngModel)]="subCondition.$searchCriteria.$text">

                        </div>

                        <div class="col-md-1 m-1">
                            <select class="form-select" aria-label="Default select example"
                                (change)="onConnectorSelectSubCondition($event, conditionConnector.$conditionIndex, subCondition.$subConditionIndex)"
                                [(ngModel)]="subCondition.$operator">
                                
                                <option *ngFor="let connector of connectors" value={{connector}}>{{connector}}</option>
                            </select>

                        </div>

                        <div class="col-md-1">
                            <div class="d-flex justify-content-md-evenly">

                                <div>

                                    <button  type="button" class="btn btn-success m-1"
                                        (click)="addBulkUpdateSubCondition(conditionConnector.$conditionIndex)"><i
                                            class="fas fa-plus"></i></button>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-danger m-1"
                                        (click)="removeBulkUpdateSubCondition(conditionConnector.$conditionIndex, subCondition.$subConditionIndex)">
                                        <i class="fa fa-solid fa-circle-minus"></i>
                                        </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-sm-3 m-1">
                        <select class="form-select" aria-label="Default select example"
                            [(ngModel)]="conditionConnector.$operator"
                            (change)="onConnectorSelectCondition($event,conditionConnector.$conditionIndex)">
                            <option *ngFor="let connector of connectors" value={{connector}}>{{connector}}</option>
                        </select>
                    </div>
                    <div class="col-sm-1 d-flex justify-content-md-evenly">

                        <button type="button" class="primary-btn" (click)="addBulkUpdateCondition()"><i
                                class="fas fa-plus"></i></button>

                        <button type="button" class="secondary-btn"
                            (click)="removeBulkUpdateCondition(conditionConnector.$conditionIndex)"><i class="fas fa-remove"> -
                            </i></button>
                    </div>

                </div>

            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="d-flex justify-content-center">
                <div class="px-2">
                    <button type="button" class="primary-btn" (click)="onBulkUpdate()">Update</button>
                </div>

                <div class="px-2">
                    <button type="button" class="primary-btn" (click)="onSearch()">Search</button>
                </div>
              
                <div class="px-2">
                    <button type="button" class="secondary-btn" (click)="clearBulkUpdateConditions()">Clear</button>
                </div>

               
            </div>
        </div>
    </div>
</div>