

 <div class="dashboard-stats-search">
    <div class="dashboard-stats-search-field">
       <label class="label" >Date From</label>
        <input type="date" id="testDataCreatedFromDate" class="form-select" [(ngModel)]="dashboardStatsDateFrom">
    </div>

    <div class="dashboard-stats-search-field">
       <label class="label" >Date To</label>
        <input type="date" id="testDataCreatedToDate" class="form-select" [(ngModel)]="dashboardStatsDateTo">
    </div>
    <div class="dashboard-stats-search-btn">
        <button type="button" class="primary-btn" (click)="fetchDashboardStats()">Search</button>
    </div>
</div>


<div class="">


    <div class="dashboard-card">
        <div class="dashboard-card-body">
          <h5 class="card-title">Total Testcases Created</h5>
          <label class="label">Testcases</label>
          <h1 class="flex-end">{{dashboardStats.testDataStats.totalTestcasesCreated}}</h1>
        </div>
    </div>
    
    <div class="dashboard-card">
        <div class="dashboard-card-body">
          <h5 class="card-title">Regression Testcases</h5>
          <label class="label">Testcases</label>
          <h1 class="flex-end">{{dashboardStats.testDataStats.regressionTestcases}}</h1>
        </div>
    </div>
    
    <div class="dashboard-card">
        <div class="dashboard-card-body">
          <h5 class="card-title">Functional Testcases</h5>
          <label class="label">Testcases</label>
          <h1 class="flex-end">{{dashboardStats.testDataStats.functionalTestcases}}</h1>
        </div>
    </div>
 </div>

<div *ngFor="let environmentExecutionStat of dashboardStats.environmentExecutionStats">
      
    <div class="dashboard-card">
        <div class="dashboard-card-body">
          <h5 class="card-title">Total Testcases Executed - {{environmentExecutionStat.environmentName}}</h5>
          <label class="label">Execution</label>
          <h1 class="flex-end">{{environmentExecutionStat.totalTestcasesExecuted}}</h1>
        </div>
    </div>
    
    <div class="dashboard-card">
        <div class="dashboard-card-body">
          <h5 class="card-title">Testcases PASSED</h5>
          <label class="label">Execution</label>
          <h1 class="flex-end">{{environmentExecutionStat.testcasesPassed}}</h1>
        </div>
    </div>
    
    <div class="dashboard-card">
        <div class="dashboard-card-body">
          <h5 class="card-title">Testcases FAILED</h5>
          <label class="label">Execution</label>
          <h1 class="flex-end">{{environmentExecutionStat.testcasesFailed}}</h1>
        </div>
    </div>
    
    <div class="dashboard-card">
        <div class="dashboard-card-body">
          <h5 class="card-title">Testcases No Results</h5>
          <label class="label">Execution</label>
          <h1 class="flex-end">{{environmentExecutionStat.testcasesNoResults}}</h1>
        </div>
    </div>
    

</div>






