/* You can add global styles to this file, and also import other style files */
/*======================NEW====================================*/
:root {
    --hue-color: 221;

    --primary-bg-color: hsl(var(--hue-color), 60%, 28%);
    --primary-bg-color-lighter: hsl(var(--hue-color), 56%, 66%);
    --primary-bg-color-darker: hsl(var(--hue-color), 56%, 1%);

    --secondary-bg-color: hsl(var(--hue-color), 34%, 30%);
    --secondary-bg-color-lighter: hsl(var(--hue-color), 69%, 58%);
    --secondary-bg-color-darker: hsl(var(--hue-color), 69%, 58%);

    --third-bg-color: hsl(var(--hue-color), 69%, 58%);
    --third-bg-color-lighter: hsl(var(--hue-color), 69%, 58%);
    --third-bg-color-darker: hsl(var(--hue-color), 69%, 58%);

    --button-primary-bg-color: hsl(118, 41%, 38%);
    --button-secondary-bg-color: hsl(224, 37%, 48%);
    --button-third-bg-color: hsl(var(--hue-color), 69%, 58%);

    --button-primary-text-color: hsl(var(--hue-color), 0%, 100%);
    --button-secondary-text-color: hsl(var(--hue-color), 0%, 100%);
    --button-third-text-color: hsl(var(--hue-color), 0%, 100%);

    --button-pagination-text-color: hsl(var(--hue-color), 0%, 100%);

    --info-bg-color:hsl(var(--hue-color), 20%, 28%);

    --title-color: hsl(var(--hue-color), 0%, 100%);

    --menu-text-color: hsl(var(--hue-color), 0%, 100%);

    --text-color: hsl(var(--hue-color), 69%, 58%);
    --text-color-lighter: hsl(var(--hue-color), 69%, 58%);
    --text-color-darker: hsl(var(--hue-color), 69%, 58%);

    --label-primary-color: hsl(var(--hue-color), 22%, 67%);
    --label-secondary-color-lighter: hsl(var(--hue-color), 69%, 58%);
    --label-third-color-darker: hsl(var(--hue-color), 69%, 58%);

    --input-primary-color: hsl(var(--hue-color), 69%, 58%);
    --input-secondary-color-lighter: hsl(var(--hue-color), 69%, 58%);
    --input-third-color-darker: hsl(var(--hue-color), 69%, 58%);

    --scroll-bar-color: hsl(var(--hue-color), 15%, 85%);
    --scroll-bar-thumb-color: hsl(var(--hue-color), 15%, 70%);

    --table-header-bg-color: var(--primary-bg-color);
    --table-header-bg-color: #dee2e6;
    --table-header-text-color: #212529;
    --table-body-bg-color:#dee2e6;
    --table-row-bg-color:hsl(var(--hue-color), 0%, 100%);;
    --table-row-text-color:var(--primary-bg-color);

    /*======================FONTS===========================*/

    --title-font: 'Maven Pro', sans-serif;
    --menu-font: 'Maven Pro', sans-serif;
    --sub-menu-font: 'Maven Pro', sans-serif;

    --h1-font: 'Poppins', sans-serif;
    --h2-font: 'Poppins', sans-serif;
    --h3-font: 'Poppins', sans-serif;
    --body-font: 'Maven Pro', sans-serif;
    --label-font: 'Maven Pro', sans-serif;
    --input-font: 'Maven Pro', sans-serif;
    --button-font: 'Maven Pro', sans-serif;
    --table-font: sans-serif;

    --gullible-font: 'Maven Pro', sans-serif;
    --body-font: 'Poppins', sans-serif;
    --roboto-font: 'Roboto', sans-serif;
    --roboto-mono-font: 'Roboto', monospace;
    --big-fat-font: 'Russo One', sans-serif;

    /*======================FONTS WEIGHT===========================*/
    --title-font-size: 1.2rem;
    --menu-font-size: 1.0rem;
    --sub-menu-font-size: 1.25rem;

    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --body-font-size: 14px;
    --label-font-size: 14px;
    --input-font-size: 14px;
    --button-font-size: 14px;

    /*==============================BUTTON==========================*/
    --button-border-radius: 4px;
    --button-primary-size:65px;
}


.primary-color {
    background-color: var(--primary-bg-color);
}

.secondary-color {
    background-color: var(--secondary-bg-color);
}

.third-color {
    background-color: var(--third-bg-color);
}

.label {
    font-family: var(--label-font);
    font-weight: var(--label-font-size);
    color: var(--label-primary-color);
    padding: 2px;
}

.menu-links:hover{
    transform: translateX(1px);
}

.menu-links:active{
    transform: translateX(1px);
}

.icon-effects:hover
{
    transform: translateY(-1px);
}

.simple-search-bar
{
display: block;
width: 100%;
padding: 0.375rem 0.75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border-radius: 0.375rem 0rem 0rem 0.375rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.primary-btn-search-icon{
    background-color: var(--button-primary-bg-color);
    border: none;
    color: var(--button-primary-text-color);
    border-radius: 0rem 0.375rem 0.375rem 0rem;
    padding: 6px 15px;
}

.primary-btn{
    background-color: var(--button-primary-bg-color);
    font-family: var(--button-font);
    font-size: var(--button-font-size);
    border: none;
    color: var(--button-primary-text-color);
    border-radius: var(--button-border-radius);
    padding: 9px 25px;
    margin: 3px;
}

.primary-btn:hover, .secondary-btn:hover, .third-btn:hover
{
    background-color: var(--primary-bg-color-darker);
    transform: translateY(-1px);
}

.primary-btn:active, .secondary-btn:active, .third-btn:active
{
    transform: translateY(1px);
}

.secondary-btn {
    background-color: var(--button-secondary-bg-color);
    font-family: var(--button-font);
    font-size: var(--button-font-size);
    border: none;
    color: var(--button-primary-text-color);
    border-radius: var(--button-border-radius);
    padding: 10px 25px;
    margin: 3px;
}

.third-btn {
    background-color: var(--button-third-bg-color);
    font-family: var(--button-font);
    font-size: var(--button-font-size);
    border: none;
    color: var(--button-primary-text-color);
    border-radius: var(--button-border-radius);
    padding: 10px 25px;
    margin: 3px;
}

.pagination-previous-btn{
    background-color: var(--button-primary-bg-color);
    font-family: var(--button-font);
    font-size: var(--button-font-size);
    border-top-left-radius: 2000px;
    border-bottom-left-radius: 2000px;
    color: var(--button-primary-text-color);
    padding: 10px 25px;
    height: 2.5rem;
    text-decoration: none;
}

.pagination-next-btn{
    background-color: var(--button-primary-bg-color);
    font-family: var(--button-font);
    font-size: var(--button-font-size);
    border-top-right-radius: 2000px;
    border-bottom-right-radius: 2000px;
    color: var(--button-primary-text-color);
    padding: 10px 25px;
    height: 2.5rem;
    text-decoration: none;
}

.pagination-textbox{
    background-color: var(--button-primary-bg-color);
    font-family: var(--button-font);
    font-size: var(--h3-font-size);
    width: 3rem;
    height: 2.2rem;
    border: none;
    display: inline;
    text-align: right; 
    color: var(--button-primary-text-color);
}




.button-defaults {
    /* font-family: sans-Tahoma; */
    /* text-shadow: 1px 3px 5px rgba(0,0,0,0.63); */
    border-radius: 0px;
    background-color: rgb(10, 10, 10);
    font-weight: bold;
    padding: 5px;
    font-size: 16px;
    color: white;
}

.queued{
    background-color: #a2a861;
    color: rgb(247, 244, 244);
    font-family: var(--button-font);
    font-size:small;
    font-weight: bold;
    border: none;
    border-radius: var(--button-border-radius);
    padding: 2px 12px;
}

.completed{
    background-color: green;
    color: rgb(247, 244, 244);
    font-family: var(--button-font);
    font-size:small;
    font-weight: bold;
    border: none;
    border-radius: var(--button-border-radius);
    padding: 2px 12px;
}

.error{
    background-color: rgb(122, 7, 7);
    color: rgb(247, 244, 244);
    font-family: var(--button-font);
    font-size:small;
    font-weight: bold;
    border: none;
    border-radius: var(--button-border-radius);
    padding: 2px 12px;
}

.inprogress{
    background-color: rgb(12, 12, 131);
    color: rgb(247, 244, 244);
    font-family: var(--button-font);
    font-size:small;
    font-weight: bold;
    border: none;
    border-radius: var(--button-border-radius);
    padding: 2px 12px;
}

.table-header {
    background-color: var(--table-header-bg-color);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 3;
    
}

.table-header-cols{
    font-family: var(--h3-font);
    font-weight: 600;
    color: var(--table-header-text-color);
    padding: 10px;
}

.table-body
{
    background-color: var(--table-body-bg-color);
    font-family: var(--h3-font);
    font-weight: var(--h3-font-size);;
}


ng-multiselect-dropdown {
    border-style: hidden;
}


/* ::-webkit-scrollbar {
    width: 15px;
    height: 20px;
    color: rgb(10, 10, 10);
    background-color: transparent;
}   -webkit-font-smoothing: antialiased;*/


/* Handle on hover */

::-webkit-scrollbar-thumb {
    color: #000;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.collapsible-button {
    border: none;
    outline: none;
}

.collapsible {
    cursor: pointer;
    text-align: left;
    padding: 10px 2px 2px 2px;
    color: var(--button-secondary-bg-color);
    font-family: var(--h2-font);
    font-size: var(--h3-font-size);
    
}

.table-textarea {
    border-color: transparent;
    background-color: transparent;
    /* overflow: hidden; */
    font-weight: 500;
}

.table-textarea-edit {
    border-color: transparent;
    background-color: transparent;
    /* overflow: hidden; */
    font-weight: bold;
}

.table-textarea::-webkit-resizer {
    display: none;
}

.btn-transparent {
    background-color: transparent;
    color: #3484F0;
    border: 1px solid #3484F0;
}

.info{
    border: #141516;
    background-color: var(--info-bg-color);
    font-family: var(--label-font);
    font-weight: var(--label-font-size);
    color: var(--label-primary-color);
    padding: 10px;
}

.xlModal .modal-dialog
{
    max-width: 1300px;
}

.button-div
{
    position: relative;
}

.dropdown-div
{
    position: absolute;
}

.overlay
{
   background-color: #000;
    opacity: 50%;
    position: fixed;
    
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    
}

.overlay-text
{
    z-index: 101;
    position: fixed;
    top: 50%;
    left: 45%;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size:large;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.inline-block-div
{
    display: inline-block;
    width: 350px;
}

.my-container
{
    padding-left: 20px;
    padding-right: 20px;
}



